---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});

const metaTags = {
  title: "Archive of Blog Posts - Andrew Riefenstahl",
  description:
    "Dive into a comprehensive collection of all my blog posts. Explore various topics, insightful articles, and more spanning from 2023 to the present.",
  url: "https://tolbertsrestaurant.com/posts",
};
---

<Layout metaTags={metaTags}>
  <main class="mx-auto max-w-7xl p-4 py-8 md:py-14 lg:py-24">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
      {sortedPosts.map((post) => <PostCard post={post} />)}
    </div>
  </main>
</Layout>
