---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});

const metaTags = {
  title: "Archive of Blog Posts - Andrew Riefenstahl",
  description:
    "Dive into a comprehensive collection of all my blog posts. Explore various topics, insightful articles, and more spanning from 2023 to the present.",
  url: "https://andrewriefenstahl.com/posts",
};
---

<Layout metaTags={metaTags}>
  <main class="mx-auto max-w-4xl py-6">
    <div class="text-center">
      <h1 class="mb-4 text-2xl font-semibold md:text-3xl lg:text-4xl">
        Blog Posts
      </h1>
      <h2 class="mx-auto mb-4 max-w-xs text-lg sm:max-w-xl sm:text-xl">
        Dive into a comprehensive collection of all my blog posts.
      </h2>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
      {sortedPosts.map((post) => <PostCard post={post} />)}
    </div>
  </main>
</Layout>
