---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";

const homeUrl = "/";
---

<Layout
  metaTags={{
    title: "Page Not Found",
    description: "The page you're looking for isn't available.",
  }}
>
  <div
    class="flex min-h-screen items-center justify-center p-6 text-center shadow-md"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-3xl font-bold">Oops! Looks like you're lost.</h1>
      <p class="mb-6">
        We're sorry, but the page you're looking for isn't available. Let's get
        you back on track!
      </p>
      <a href={homeUrl}>
        <Button> Head Home </Button>
      </a>
    </div>
  </div>
</Layout>
