---
import Layout from "../layouts/Layout.astro"
import Analytics from "../components/Analytics.astro";
import { AccordionDemo } from "@/components/Accordion";
import { YouTube } from 'astro-embed';

const metaTags = {
  title: "About Tolbert's Restaurant",
  description:
    "Frank X. Tolbert’s life-long passion for chili inspired him to write his world-famous book “A Bowl of Red” 50 years ago.  He founded the Terlingua Championship Chili Cook-Off in 1967 and joined forces with son Frank 2 in 1976 to open the first Tolbert’s Restaurant in Dallas, with daughter Kathleen helping manage starting in 1977.",
  url: "https://tolbertsrestaurant.com/about",
  twitterHandle: "@riefer02",
};
---

<Layout metaTags={metaTags}>
  <Analytics />

  <div class="mt-12 grid grid-cols-1 justify-center gap-4 p-12 md:grid-cols-2">
    <div class="flex flex-col justify-center gap-4">
      <h1 class="text-4xl noto">About Tolbert's Restaurant</h1>
      <p>
        Frank X. Tolbert’s life-long passion for chili inspired him to write his world-famous book “A Bowl of Red” 50 years ago. He founded the Terlingua Championship Chili Cook-Off in 1967 and joined forces with son Frank 2 in 1976 to open the first Tolbert’s Restaurant in Dallas, with daughter Kathleen helping manage starting in 1977. Kathleen, with her husband Paul Ryan, selected Grapevine’s historic Main Street as the new home of Tolbert’s in 2006. The tradition continues as Tolbert’s Restaurant & Chili Parlor features classic southwestern cuisine with our signature Bowl of Red, using the same recipe developed by Frank X. Tolbert and his son.
        Enjoy your visit and tell your friends!
        Kathleen, Paul and Steven Ryan
      </p>
    </div>

    <div>
      <YouTube class="rounded-lg" id="https://youtu.be/XgkegPojcCE" />
    </div>

  </div>
  
  <div class="grid grid-cols-4">
    <img src="../../public/tlb-1.jpg" alt="Description of the image" class="h-auto w-full object-cover object-center" />
    <img src="../../public/tlb-2.jpg" alt="Description of the image" class="h-full w-full object-cover object-center" />
    <img src="../../public/tlb-3.jpg" alt="Description of the image" class="h-full w-full object-cover object-center" />
    <img src="../../public/tlb-4.jpg" alt="Description of the image" class="h-full w-full object-cover object-center" />
  </div>
    <div class="w-full p-8 bg-black text-white text-2xl">
      <div class="max-w-5xl mx-auto">
    <h2 class="text-4xl noto mt-12">FAQ</h2>
    <AccordionDemo client:load />
  </div>
  </div>
</Layout>