---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Analytics from "../components/Analytics.astro";
import CalendarApp from "@/components/Calendar";
import { getEvents } from "../lib/wordpress/fetchEvents";
import Hero from "@/components/CalendarHero";
import { generateEventSchema } from "@/lib/seo/schemas";

const events = await getEvents();

const eventSchemas = events.map((event) => generateEventSchema(event.node));

const metaTags = {
  title: "Tolbert's Restaurant Events Calendar",
  description:
    "Frank X. Tolbert’s life-long passion for chili inspired him to write his world-famous book “A Bowl of Red” 50 years ago. He founded the Terlingua Championship Chili Cook-Off in 1967 and joined forces with son Frank 2 in 1976 to open the first Tolbert’s Restaurant in Dallas, with daughter Kathleen helping manage starting in 1977.",
  url: "https://tolbertsrestaurant.com/events",
  twitterHandle: "@riefer02",
  schemaData: eventSchemas,
};
---

<Layout metaTags={metaTags}>
  <Analytics />
  <main class="bg-repeat md:mt-0">
    <div class="hidden lg:block">
      <Hero events={events} client:load />
    </div>
    <div class="mx-auto max-w-7xl">
      <CalendarApp events={events} client:load />
    </div>
  </main>
</Layout>
