---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Analytics from "../components/Analytics.astro";
import { getEvents } from "../lib/wordpress/fetchEvents";
import Hero from "../components/CalendarHero";
import Leaderboard from "../components/Leaderboard";
import FooterPhotoPanel from "@/components/FooterPhotoPanel";
import Testimonials from "@/components/Testimonials";
import HeroMain from "@/components/HeroMain";
import FormHorizontal from "@/components/FormHorizontal";
import { generateEventSchema } from "@/lib/seo/schemas";

const events = await getEvents();


const eventSchemas = events.map((event) => generateEventSchema(event.node));

const metaTags = {
  title: "Tolbert's Restaurant",
  description:
    "Tolbert's Restaurant is a family-owned and operated restaurant located in Grapevine, Texas. We serve the best chili in Texas and have a full menu of delicious food and drinks.",
  url: "https://tolbertsrestaurant.com",
  twitterHandle: "@riefer02",
  schemaData: eventSchemas,
};
---

<Layout metaTags={metaTags}>
  <Analytics />
  <main class="content">
    <HeroMain client:load />
    <FormHorizontal client:load />
    <Hero events={events} client:load />
    <Leaderboard client:load />
    <Testimonials client:load />
    <FooterPhotoPanel client:load />
  </main>
</Layout>
