---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/Andrew-Riefenstahl.jpg";
import Analytics from "../components/Analytics.astro";
import { getEvents } from "../lib/wordpress/fetchEvents";
import Hero from "../components/Hero"
import Leaderboard from "../components/Leaderboard"

const metaTags = {
  title: "Tolbert's Restaurant",
  description:
    "Discover Andrew Riefenstahl's journey in full stack web development, showcasing skills in modern technologies and innovative solutions.",
  url: "https://tolbertsrestaurant.com",
  twitterHandle: "@riefer02",
};

const events = await getEvents();
console.log(events);
---

<Layout metaTags={metaTags}>
  <Analytics />
  <main class="content">
    <Hero events={events} client:load/>
    <Leaderboard client:load/>
  </main>
</Layout>


