---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

import { getEvents } from "../lib/wordpress/fetchEvents";
import CalendarHero from "../components/CalendarHero";
import Leaderboard from "../components/Leaderboard";
import FooterPhotoPanel from "@/components/FooterPhotoPanel";
import Testimonials from "@/components/Testimonials";
import HeroMain from "@/components/HeroMain";
import FormHorizontal from "@/components/FormHorizontal";
import Announcement from "@/components/Announcement";
import { generateEventSchema } from "@/lib/seo/schemas";
import MaintenanceAnnouncement from "@/components/MaintenanceAnnouncement.astro";

import { processAndSortEvents, type ProcessedEvent } from "../lib/events";

let events: ProcessedEvent[] = [];

try {
  const fetchedEvents = await getEvents();

  events = processAndSortEvents(fetchedEvents);
} catch (error) {
  console.error("Failed to fetch or process events:", error);
  events = [];
}

const eventSchemas = events.map((event) => generateEventSchema(event?.node));

const metaTags = {
  title: "Tolbert's Restaurant",
  description:
    "Tolbert's Restaurant is a family-owned and operated restaurant located in Grapevine, Texas. We serve the best chili in Texas and have a full menu of delicious food and drinks.",
  url: "https://tolbertsrestaurant.com",
  twitterHandle: "@riefer02",
  schemaData: eventSchemas,
};
const isUnderMaintenance = false; // Toggle this to true for maintenance
---

<Layout metaTags={metaTags}>
  {
    isUnderMaintenance ? (
      <MaintenanceAnnouncement />
    ) : (
      <main class="content">
        <HeroMain client:load />
        <Announcement client:load />
        <FormHorizontal client:load />
        <CalendarHero events={events} client:load />
        <Leaderboard client:load />
        <Testimonials client:load />
        <FooterPhotoPanel client:load />
      </main>
    )
  }
</Layout>
