---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/Andrew-Riefenstahl.jpg";
import Analytics from "../components/Analytics.astro";
import { getEvents } from "../lib/wordpress/fetchEvents";
import { Button } from "../components/ui/button"
import Card from "../components/Card"

const metaTags = {
  title: "Tolbert's Restaurant",
  description:
    "Discover Andrew Riefenstahl's journey in full stack web development, showcasing skills in modern technologies and innovative solutions.",
  url: "https://andrewriefenstahl.com",
  twitterHandle: "@riefer02",
};

const events = await getEvents();
console.log(events);
---

<Layout metaTags={metaTags}>
  <Analytics />
  <main class=" mx-auto max-w-3xl">
   <h1> Tolbert's Restaurant </h1>
   <Card />
   <Button>Hello</Button>
  </main>
</Layout>

<style>
  /* You can add custom Tailwind CSS styles here if needed */
</style>
