---
import { Image } from "astro:assets";
import Nav from "./Nav.astro";
const { title } = Astro.props;
import profileImage from "../assets/Andrew-Riefenstahl.jpg";
---

<header
  class="fixed top-0 z-50 flex h-14 w-full items-center justify-between bg-stone-800 px-6 py-1 text-stone-100 shadow-md sm:relative"
>
  <div class="px-4">
    <Image
      src={profileImage}
      alt="Andrew Riefenstahl smiling with his arms crossed against a multicolored background with hues of purple and maroon to pink."
      width="34"
      height="34"
      class="rounded-full"
    />
  </div>
  <nav>
    <Nav />
  </nav>
</header>
