---

---

<div class="relative">
  <button
    class="right-0 top-0 flex h-10 w-10 flex-col items-center justify-center rounded-lg border-b border-stone-700 bg-stone-200 shadow-sm"
    id="menu-btn"
  >
    <span class="relative bottom-1 text-2xl text-stone-700">☰</span>
  </button>
  <ul
    id="menu"
    class="absolute -top-2 right-4 mt-12 hidden w-48 flex-col items-start rounded-md border border-stone-700 bg-stone-200 p-2 text-stone-700 shadow-md"
  >
    <li class="w-full">
      <a
        href="/"
        class="block rounded-md px-4 py-2 hover:bg-stone-200 focus:bg-stone-200"
      >
        Home</a
      >
    </li>
    <li class="w-full">
      <a
        href="/posts"
        class="block rounded-md px-4 py-2 hover:bg-stone-200 focus:bg-stone-200"
      >
        Blog Posts</a
      >
    </li>
  </ul>
</div>
<script>
  document.addEventListener("astro:page-load", () => {
    function toggleMenu() {
      const menu = document.getElementById("menu");
      if (menu.classList.contains("hidden")) {
        menu.classList.remove("hidden");
        menu.classList.add("flex");
      } else {
        menu.classList.add("hidden");
        menu.classList.remove("flex");
      }
    }

    const menuBtn = document.getElementById("menu-btn");
    menuBtn.removeEventListener("click", toggleMenu);
    menuBtn.addEventListener("click", toggleMenu);
  });
</script>
