---

---

<div class="relative">
  <button
    class="absolute top-0 right-0 p-4 h-12 w-12 m-4 flex flex-col items-center justify-center rounded-lg shadow-sm bg-stone-700"
    id="menu-btn"
  >
    <span class="text-3xl relative bottom-1 text-stone-100">☰</span>
  </button>
  <ul
    id="menu"
    class="absolute hidden right-4 top-[20px] bg-stone-100 rounded-md shadow-md flex-col items-start w-48 mt-12 p-2"
  >
    <li class="w-full">
      <a
        href="/"
        class="block px-4 py-2 hover:bg-stone-200 focus:bg-stone-200 rounded-md"
      >
        Home</a
      >
    </li>
    <li class="w-full">
      <a
        href="/posts"
        class="block px-4 py-2 hover:bg-stone-200 focus:bg-stone-200 rounded-md"
      >
        Blog Posts</a
      >
    </li>
  </ul>
</div>
<script>
  document.addEventListener("astro:page-load", () => {
    function toggleMenu() {
      const menu = document.getElementById("menu");
      if (menu.classList.contains("hidden")) {
        menu.classList.remove("hidden");
        menu.classList.add("flex");
      } else {
        menu.classList.add("hidden");
        menu.classList.remove("flex");
      }
    }

    const menuBtn = document.getElementById("menu-btn");
    menuBtn.removeEventListener("click", toggleMenu);
    menuBtn.addEventListener("click", toggleMenu);
  });
</script>
